name: test-scan-apk

on: [pull_request]

permissions:
  contents: read

jobs:
  test-unpinned:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: ./scan-apk
      id: scan
      with:
        package: ko
    - run: echo ${{ steps.scan.outputs.vuln-count }}

  test-pinned:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: ./scan-apk
      id: scan
      with:
        package: ko=0.13.0-r4
    - run: echo ${{ steps.scan.outputs.vuln-count }}

  test-alpine:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: ./scan-apk
      id: scan
      with:
        repositories: https://dl-cdn.alpinelinux.org/alpine/edge/main
        keyring: ""
        package: busybox
    - run: echo ${{ steps.scan.outputs.vuln-count }}

