name: test-scan-apk

on: [pull_request]

permissions:
  contents: read

jobs:
  test-unpinned:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: ./scan-apk
      id: scan
      with:
        package: ko
    - run: echo ${{ steps.scan.outputs.vuln-count }}

  test-pinned:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: ./scan-apk
      id: scan
      with:
        package: ko=0.18.0-r8
    - run: echo ${{ steps.scan.outputs.vuln-count }}

  test-alpine:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: ./scan-apk
      id: scan
      with:
        repositories: https://dl-cdn.alpinelinux.org/alpine/edge/main
        keyring: ""
        package: busybox
    - run: echo ${{ steps.scan.outputs.vuln-count }}

