name: test-scan-apk

on: [pull_request]

permissions:
  contents: read

jobs:
  test-unpinned:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: ./scan-apk
      id: scan
      with:
        package: ko
    - run: echo ${{ steps.scan.outputs.vuln-count }}

  test-pinned:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: ./scan-apk
      id: scan
      with:
        package: ko=0.18.0-r8
    - run: echo ${{ steps.scan.outputs.vuln-count }}

  test-alpine:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: ./scan-apk
      id: scan
      with:
        repositories: https://dl-cdn.alpinelinux.org/alpine/edge/main
        keyring: ""
        package: busybox
    - run: echo ${{ steps.scan.outputs.vuln-count }}

