name: test-scan-apk

on: [pull_request]

permissions:
  contents: read

jobs:
  test-unpinned:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: ./scan-apk
      id: scan
      with:
        package: ko
    - run: echo ${{ steps.scan.outputs.vuln-count }}

  test-pinned:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: ./scan-apk
      id: scan
      with:
        package: ko=0.13.0-r4
    - run: echo ${{ steps.scan.outputs.vuln-count }}

  test-alpine:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: ./scan-apk
      id: scan
      with:
        repositories: https://dl-cdn.alpinelinux.org/alpine/edge/main
        keyring: ""
        package: busybox
    - run: echo ${{ steps.scan.outputs.vuln-count }}

